body {
    color: black;
    text-align: center;
    background-color: powderblue;
    font-family: Avenir, Futura, sans-serif;
    font-weight: normal;
}
h1 {
    size: 24px;
}
p {
    size: 16px;
}

.social_buttons {
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
    padding-top: 8px;
}

address {
    text-decoration: none;
}
